
html {
    min-height: 100%;
}

div.container {
    margin: 0px;
    border: 1px solid orange;
    line-height: 150%;
}

header, footer {
    padding-bottom: 1em;
    padding-top: 1em;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    background-color: orangered;
    clear: both;

}
footer {
    bottom:0px;
    position: absolute;
    margin-right: 10px;
}

header h1 {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}
footer h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
/*#sidebar {
    float: left;
    width: 160px;
    margin: 0;
    background-color: lightyellow;
}

#sidebar ul {
    background-color: lightyellow;
    padding-left: 2px; */
.sidenav {
    margin: 0;
    float: left;
} 
.sidenav ul {
    list-style-type: none;
    position: fixed;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    overflow: hidden;
    background-color: lightblue;
}
.sidenav li {
    font-weight: 200;
}
.sidenav li a {
   
    display: inline-block;
    padding-top: 1em;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 1em;
    color: black;
    text-decoration: none;
    text-align: center;
}
.sidenav li a:hover {
    background-color: aqua;
    text-decoration: underline;
    width: 100%;
}
main {
    margin-left: 200px;
    border-left: 1px solid lightblue;
    background-color: greenyellow;
    padding-left: 5em;
    padding-top: 5em;
    padding-bottom: 17em;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-size: 100%;
    /*
    margin-left: 160px;
    */
   /* padding: 0px 2px;*/
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    color: black;
    text-align: center;
    /*padding: 14px 16px; */
    padding: 1em;
    text-decoration: none;
}

nav li a:hover {
    background-color: aliceblue;
    text-decoration: underline;
}
@supports (background-blend-mode : screen)
{
    main {
        background-color: darkgray; 
        background-image: url('../images/1024px-Left_side_of_Flying_Pigeon.jpg');
        background-blend-mode: screen;    
    }


}